/* Custom CSS styles specific to the content section */

body {
    padding-top: 56px; /* Keeps alignment for fixed navbar */
    font-family: 'Arial', sans-serif;
    color: #333;
}

header h1 {
    background-color: white; /* Light grey background for header */
    padding: 20px 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.container .content h2, 
.container .content h3 {
    color: #343a40;
    margin-bottom: 15px;
}

.container .content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.container .content ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

.container .content ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

