<!-- Gallery.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'lightbox2/css/lightbox.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'gallerystyle.css' %}">
<h1 class="title">Gallery</h1>
  <div class="gallery">
    {% for image in images %}
      <a href="{% static image.src %}" data-lightbox="gallery" data-title="{{ image.caption }}">
        <img src="{% static image.src %}" alt="{{ image.caption }}">
      </a>
    {% endfor %}
  </div>
  
  <script src="{% static 'lightbox2/js/lightbox.js' %}"></script>
{% endblock content %}
